pomo-2b323f {
  color: #2b323f;
}
pomo-e68c7c {
  color: #e68c7c;
}
pomo-eb8c5f {
  color: #eb8c5f;
}
pomo-df415a {
  color: #df415a;
}
pomo-f52300 {
  color: #f52300;
}
pomo-ec4339 {
  color: #ec4339;
}
pomo-a81816 {
  color: #a81816;
}
pomo-912b1b {
  color: #912b1b;
}
pomo-c03728 {
  color: #c03728;
}
pomo-f2692e {
  color: #f2692e;
}
pomo-fd8f24 {
  color: #fd8f24;
}
pomo-f5c04a {
  color: #f5c04a;
}
pomo-fdd562 {
  color: #fdd562;
}
pomo-cfbc56 {
  color: #cfbc56;
}
pomo-c2c377 {
  color: #c2c377;
}
pomo-89a954 {
  color: #89a954;
}
pomo-919c4c {
  color: #919c4c;
}
pomo-79874a {
  color: #79874a;
}
pomo-586939 {
  color: #586939;
}
pomo-3c5e27 {
  color: #3c5e27;
}
pomo-2b5000 {
  color: #2b5000;
}
pomo-302c28 {
  color: #302c28;
}
pomo-252a34 {
  color: #252a34;
}
pomo-2f333d {
  color: #2f333d;
}
pomo-3a3e3f {
  color: #3a3e3f;
}
pomo-4f5157 {
  color: #4f5157;
}
pomo-828585 {
  color: #828585;
}
pomo-633027 {
  color: #633027;
}
pomo-6b452b {
  color: #6b452b;
}
pomo-6f5438 {
  color: #6f5438;
}
pomo-918257 {
  color: #918257;
}
pomo-938e53 {
  color: #938e53;
}
pomo-fde09f {
  color: #fde09f;
}
pomo-dfbc97 {
  color: #dfbc97;
}
pomo-eedcb6 {
  color: #eedcb6;
}
pomo-efe1c6 {
  color: #efe1c6;
}
pomo-f8eed1 {
  color: #f8eed1;
}
pomo-fef4d8 {
  color: #fef4d8;
}
pomo-fff6da {
  color: #fff6da;
}
pomo-fffeea {
  color: #fffeea;
}
pomo-a59889 {
  color: #a59889;
}
pomo-655843 {
  color: #655843;
}
pomo-aea795 {
  color: #aea795;
}
pomo-a89985 {
  color: #a89985;
}
